@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}

h1 {
    color: #fff;
}

h2{
    margin: 0;
}

.hide-input{
    display: none;
}

