:root{
    --color-primary: #16213E;
    --color-secundary: #121B32;
    --color-third: #182747;
}

/* NavBar Styles */

.nav{
    background-color: var(--color-primary);
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-size: 25px;
}

.nav-menu{
    list-style: none;
    display: flex;
    height: 40px;
    gap: 10px;
    align-items: center;
}

.nav-img{
    height: 38px;
    width: 38px;
}

.nav-user{
    height: 45px;
    width: 45px;
    margin-left: 20px;
    position: relative;
}

.nav-user-button{
    position: relative;
    cursor: pointer;
}

/* Body */
.content{
    background-color: var(--color-third);
    height: 100vh;
}

.content-title{
    padding: 10px;
    color: #fff;
    text-align: center;
}

/* Product Card */
.card{
    color: #fff;
    text-align: center;
    background-color: var(--color-secundary);
    padding: 10px;
    max-width: 400px;
}

.card-labels{
    font-weight: 600;
}

.card-icons img{
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
}

/* Footer */




