:root{
    --color-table: #121C36;
    --color-border: #000;
}

.table-container{
    max-width: 100%;
    overflow-x: auto;
}

table{
    margin-bottom: 30px;
    border: 3px solid var(--color-border);
    border-spacing: 0;
    width: 100%;
    background-color: var(--color-table);
    border-radius: 5px;
}

th,
td{
    border: 2px solid var(--color-border);
    color: #fff;
    padding: 10px;
    text-align: center;
}

